@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.custom-cursor {
  cursor: url('../../public/customgreen.png'), auto;
}

/* Ensure other elements maintain the default cursor */
body, *:not(.custom-cursor) {
  cursor: auto;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: url('../../public/customgreen.png'), auto !important;
}
img{
  cursor: url('../../public/customgreen.png'), auto !important;
}
div{
  cursor: url('../../public/customgreen.png'), auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
